@using IkeaDocuScan_Web.Client
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["css/logviewer.css"]" />
    <link rel="stylesheet" href="@Assets["IkeaDocuScan-Web.styles.css"]" />
    <!-- Font Awesome (local for network-isolated servers) -->
    <link rel="stylesheet" href="@Assets["lib/font-awesome/css/all.min.css"]">
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <IkeaDocuScan_Web.Client.Routes />
    <script src="_framework/blazor.web.js"></script>

    <!-- Bootstrap 5 JS (local for network-isolated servers) -->
    <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    <!-- File Preview Enhancements -->
    <script src="js/filePreview.js"></script>

    <!-- Navigation Interception for Unsaved Changes Warning -->
    <script src="js/navigationInterceptor.js"></script>

    <!-- Excel Download Helper -->
    <script src="js/excelDownload.js"></script>

    <!-- File Download Helper -->
    <script src="js/fileDownload.js"></script>

    <!-- Favicon Helper -->
    <script src="js/faviconHelper.js"></script>

    <!-- Log Export Helper -->
    <script src="js/logExport.js"></script>

    <!-- Multi-select Helper -->
    <script src="js/multiSelectHelper.js"></script>
</body>

</html>
