@using IkeaDocuScan_Web.Client.Models
@using IkeaDocuScan_Web.Client.Components.Shared

@* Fax *@
<div class="row mb-3 field-horizontal">
    <label class="col-sm-3 col-form-label text-end">Fax<span class="required">*</span></label>
    <div class="col-sm-9">
        <TriStateDropdown @bind-Value="@Model.Fax"
                         Disabled="@IsReadOnly"
                         Label="Fax" />
    </div>
</div>

@* Original Received *@
<div class="row mb-3 field-horizontal">
    <label class="col-sm-3 col-form-label text-end">Original Received<span class="required">*</span></label>
    <div class="col-sm-9">
        <TriStateDropdown @bind-Value="@Model.OriginalReceived"
                         Disabled="@IsReadOnly"
                         Label="Original Received" />
    </div>
</div>

@* Translation Received *@
<div class="row mb-3 field-horizontal">
    <label class="col-sm-3 col-form-label text-end">Translation Received<span class="required">*</span></label>
    <div class="col-sm-9">
        <TriStateDropdown @bind-Value="@Model.TranslationReceived"
                         Disabled="@IsReadOnly"
                         Label="Translation Received" />
    </div>
</div>

@* Confidential *@
<div class="row mb-3 field-horizontal">
    <label class="col-sm-3 col-form-label text-end">Confidential<span class="required">*</span></label>
    <div class="col-sm-9">
        <TriStateDropdown @bind-Value="@Model.Confidential"
                         Disabled="@IsReadOnly"
                         Label="Confidential" />
    </div>
</div>

<style>
    .required {
        color: red;
    }
</style>

@code {
    /// <summary>
    /// The document properties model
    /// </summary>
    [Parameter, EditorRequired]
    public DocumentPropertiesViewModel Model { get; set; } = new();

    /// <summary>
    /// Event callback when model changes
    /// </summary>
    [Parameter]
    public EventCallback<DocumentPropertiesViewModel> ModelChanged { get; set; }

    /// <summary>
    /// Whether the fields are read-only
    /// </summary>
    [Parameter]
    public bool IsReadOnly { get; set; }
}
